html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}
img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1,h2,h3,h4,h5,h6,.iew-slim,.iew-wide{font-family:"Segoe UI",Arial,sans-serif}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.iew-serif{font-family:"Times New Roman",Times,serif}
h1,h2,h3,h4,h5,h6{font-weight:400;margin:10px 0}.iew-wide{letter-spacing:4px}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
img{margin-bottom:-5px}a{color:inherit}
.iew-image{max-width:100%;height:auto}
.iew-table,.iew-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}
.iew-table-all{border:1px solid #ccc}
.iew-bordered tr,.iew-table-all tr{border-bottom:1px solid #ddd}
.iew-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.iew-table-all tr:nth-child(odd){background-color:#fff}
.iew-table-all tr:nth-child(even){background-color:#f1f1f1}
.iew-hoverable tbody tr:hover,.iew-ul.iew-hoverable li:hover{background-color:#ccc}
.iew-centered tr th,.iew-centered tr td{text-align:center}
.iew-table td,.iew-table th,.iew-table-all td,.iew-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.iew-table th:first-child,.iew-table td:first-child,.iew-table-all th:first-child,.iew-table-all td:first-child{padding-left:16px}
.iew-btn,.iew-btn-block{border:none;display:inline-block;outline:0;padding:6px 16px;vertical-align:middle;overflow:hidden;text-decoration:none!important;color:#fff;background-color:#000;text-align:center;cursor:pointer;white-space:nowrap}
.iew-btn:hover,.iew-btn-block:hover,.iew-btn-floating:hover,.iew-btn-floating-large:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.iew-btn,.iew-btn-floating,.iew-btn-floating-large,.iew-closenav,.iew-opennav{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.iew-btn-floating,.iew-btn-floating-large{display:inline-block;text-align:center;color:#fff;background-color:#000;position:relative;overflow:hidden;z-index:1;padding:0;border-radius:50%;cursor:pointer;font-size:24px}
.iew-btn-floating{width:40px;height:40px;line-height:40px}.iew-btn-floating-large{width:56px;height:56px;line-height:56px}
.iew-disabled,.iew-btn:disabled,.iew-btn-floating:disabled,.iew-btn-floating-large:disabled{cursor:not-allowed;opacity:0.3}
.iew-btn.iew-disabled *,.iew-btn-block.iew-disabled,.iew-btn-floating.iew-disabled *,.iew-btn:disabled *,.iew-btn-floating:disabled *{pointer-events:none}
.iew-btn.iew-disabled:hover,.iew-btn-block.iew-disabled:hover,.iew-btn:disabled:hover,.iew-btn-floating.iew-disabled:hover,.iew-btn-floating:disabled:hover,
.iew-btn-floating-large.iew-disabled:hover,.iew-btn-floating-large:disabled:hover{box-shadow:none}
.iew-btn-group .iew-btn{float:left}.iew-btn-block{width:100%}
.iew-btn-bar .iew-btn{box-shadow:none;background-color:inherit;color:inherit;float:left}.iew-btn-bar .iew-btn:hover{background-color:#ccc}
.iew-badge,.iew-tag,.iew-sign{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}
.iew-badge{border-radius:50%}
ul.iew-ul{list-style-type:none;padding:0;margin:0}ul.iew-ul li{padding:6px 2px 6px 16px;border-bottom:1px solid #ddd}ul.iew-ul li:last-child{border-bottom:none}
.iew-tooltip,.iew-display-container{position:relative}.iew-tooltip .iew-text{display:none}.iew-tooltip:hover .iew-text{display:inline-block}
.iew-navbar{list-style-type:none;margin:0;padding:0;overflow:hidden}
.iew-navbar li{float:left}.iew-navbar li a,.iew-navitem{display:block;padding:8px 16px}.iew-navbar li a:hover{color:#000;background-color:#ccc}
.iew-navbar .iew-dropdown-hover,.iew-navbar .iew-dropdown-click{position:static}
.iew-navbar .iew-dropdown-hover:hover,.iew-navbar .iew-dropdown-hover:first-child,.iew-navbar .iew-dropdown-click:hover{background-color:#ccc;color:#000}
.iew-navbar a,.iew-topnav a,.iew-sidenav a,.iew-dropdown-content a,.iew-accordion-content a,.iew-dropnav a{text-decoration:none!important}
.iew-navbar .iew-opennav.iew-right{float:right!important}.iew-topnav{padding:8px 8px}
.iew-topnav a{padding:0 8px;border-bottom:3px solid transparent;-webkit-transition:border-bottom .3s;transition:border-bottom .3s}
.iew-topnav a:hover{border-bottom:3px solid #fff}.iew-topnav .iew-dropdown-hover a{border-bottom:0}
.iew-opennav,.iew-closenav{color:inherit}.iew-opennav:hover,.iew-closenav:hover{cursor:pointer;opacity:0.8}
.iew-btn,.iew-btn-floating,.iew-dropnav a,.iew-btn-floating-large,.iew-btn-block,.iew-hover-shadow,.iew-hover-opacity,.iew-hover-opacity-off,.iew-hover-sepia,.iew-hover-grayscale,.iew-hover-greyscale,
.iew-navbar a,.iew-sidenav a,.iew-pagination li a,.iew-hoverable tbody tr,.iew-hoverable li,.iew-accordion-content a,.iew-dropdown-content a,.iew-dropdown-click:hover,.iew-dropdown-hover:hover,.iew-opennav,.iew-closenav,.iew-closebtn,
.iew-hover-amber,.iew-hover-aqua,.iew-hover-blue,.iew-hover-light-blue,.iew-hover-brown,.iew-hover-cyan,.iew-hover-blue-grey,.iew-hover-green,.iew-hover-light-green,.iew-hover-indigo,.iew-hover-khaki,.iew-hover-lime,.iew-hover-orange,.iew-hover-deep-orange,.iew-hover-pink,
.iew-hover-purple,.iew-hover-deep-purple,.iew-hover-red,.iew-hover-sand,.iew-hover-teal,.iew-hover-yellow,.iew-hover-white,.iew-hover-black,.iew-hover-grey,.iew-hover-light-grey,.iew-hover-dark-grey,.iew-hover-text-amber,.iew-hover-text-aqua,.iew-hover-text-blue,.iew-hover-text-light-blue,
.iew-hover-text-brown,.iew-hover-text-cyan,.iew-hover-text-blue-grey,.iew-hover-text-green,.iew-hover-text-light-green,.iew-hover-text-indigo,.iew-hover-text-khaki,.iew-hover-text-lime,.iew-hover-text-orange,.iew-hover-text-deep-orange,.iew-hover-text-pink,.iew-hover-text-purple,
.iew-hover-text-deep-purple,.iew-hover-text-red,.iew-hover-text-sand,.iew-hover-text-teal,.iew-hover-text-yellow,.iew-hover-text-white,.iew-hover-text-black,.iew-hover-text-grey,.iew-hover-text-light-grey,.iew-hover-text-dark-grey
{-webkit-transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s,filter 0.3s;transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s,filter 0.3s}
.iew-ripple:active{opacity:0.5}.iew-ripple{-webkit-transition:opacity 0s;transition:opacity 0s}
.iew-sidenav{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.iew-sidenav a{padding:4px 2px 4px 16px}.iew-sidenav a:hover{background-color:#ccc}.iew-sidenav a,.iew-dropnav a{display:block}
.iew-sidenav .iew-dropdown-hover:hover,.iew-sidenav .iew-dropdown-hover:first-child,.iew-sidenav .iew-dropdown-click:hover,.iew-dropnav a:hover{background-color:#ccc;color:#000}
.iew-sidenav .iew-dropdown-hover,.iew-sidenav .iew-dropdown-click {width:100%}.iew-sidenav .iew-dropdown-hover .iew-dropdown-content,.iew-sidenav .iew-dropdown-click .iew-dropdown-content{min-width:100%}
.iew-main,#main{transition:margin-left .4s}
.iew-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.iew-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}.iew-closebtn{text-decoration:none;float:right;font-size:24px;font-weight:bold;color:inherit}
.iew-closebtn:hover,.iew-closebtn:focus{color:#000;text-decoration:none;cursor:pointer}
.iew-pagination{display:inline-block;padding:0;margin:0}.iew-pagination li{display:inline}
.iew-pagination li a{text-decoration:none;color:#000;float:left;padding:8px 16px}
.iew-pagination li a:hover{background-color:#ccc}
.iew-input-group,.iew-group{margin-top:24px;margin-bottom:24px}
.iew-input{padding:8px;display:block;border:none;border-bottom:1px solid #808080;width:100%}
.iew-label{color:#009688}.iew-input:not(:valid)~.iew-validate{color:#f44336}
.iew-select{padding:9px 0;width:100%;color:#000;border:1px solid transparent;border-bottom:1px solid #009688}
.iew-select select:focus{color:#000;border:1px solid #009688}.iew-select option[disabled]{color:#009688}
.iew-dropdown-click,.iew-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.iew-dropdown-hover:hover .iew-dropdown-content{display:block;z-index:1}
.iew-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0}
.iew-dropdown-content a{padding:6px 16px;display:block}
.iew-dropdown-content a:hover{background-color:#ccc}
.iew-accordion {width:100%;cursor:pointer}
.iew-accordion-content{cursor:auto;display:none;position:relative;width:100%;margin:0;padding:0}
.iew-accordion-content a{padding:6px 16px;display:block}.iew-accordion-content a:hover{background-color:#ccc}
.iew-progress-container{width:100%;height:1.5em;position:relative;background-color:#f1f1f1}
.iew-progressbar{background-color:#757575;height:100%;position:absolute;line-height:inherit}
input[type=checkbox].iew-check,input[type=radio].iew-radio{width:24px;height:24px;position:relative;top:6px}
input[type=checkbox].iew-check:checked+.iew-validate,input[type=radio].iew-radio:checked+.iew-validate{color:#009688} 
input[type=checkbox].iew-check:disabled+.iew-validate,input[type=radio].iew-radio:disabled+.iew-validate{color:#aaa}
.iew-responsive{overflow-x:auto}
.iew-container:after,.iew-panel:after,.iew-row:after,.iew-row-padding:after,.iew-topnav:after,.iew-clear:after,.iew-btn-group:before,.iew-btn-group:after,.iew-btn-bar:before,.iew-btn-bar:after
{content:"";display:table;clear:both}
.iew-col,.iew-half,.iew-third,.iew-twothird,.iew-threequarter,.iew-quarter{float:left;width:100%}
.iew-col.s1{width:8.33333%}
.iew-col.s2{width:16.66666%}
.iew-col.s3{width:24.99999%}
.iew-col.s4{width:33.33333%}
.iew-col.s5{width:41.66666%}
.iew-col.s6{width:49.99999%}
.iew-col.s7{width:58.33333%}
.iew-col.s8{width:66.66666%}
.iew-col.s9{width:74.99999%}
.iew-col.s10{width:83.33333%}
.iew-col.s11{width:91.66666%}
.iew-col.s12,.iew-half,.iew-third,.iew-twothird,.iew-threequarter,.iew-quarter{width:99.99999%}
@media only screen and (min-width:601px){
.iew-col.m1{width:8.33333%}
.iew-col.m2{width:16.66666%}
.iew-col.m3,.iew-quarter{width:24.99999%}
.iew-col.m4,.iew-third{width:33.33333%}
.iew-col.m5{width:41.66666%}
.iew-col.m6,.iew-half{width:49.99999%}
.iew-col.m7{width:58.33333%}
.iew-col.m8,.iew-twothird{width:66.66666%}
.iew-col.m9,.iew-threequarter{width:74.99999%}
.iew-col.m10{width:83.33333%}
.iew-col.m11{width:91.66666%}
.iew-col.m12{width:99.99999%}}
@media only screen and (min-width:993px){
.iew-col.l1{width:8.33333%}
.iew-col.l2{width:16.66666%}
.iew-col.l3,.iew-quarter{width:24.99999%}
.iew-col.l4,.iew-third{width:33.33333%}
.iew-col.l5{width:41.66666%}
.iew-col.l6,.iew-half{width:49.99999%}
.iew-col.l7{width:58.33333%}
.iew-col.l8,.iew-twothird{width:66.66666%}
.iew-col.l9,.iew-threequarter{width:74.99999%}
.iew-col.l10{width:83.33333%}
.iew-col.l11{width:91.66666%}
.iew-col.l12{width:99.99999%}}
.iew-content{max-width:980px;margin:auto}
.iew-rest{overflow:hidden}
.iew-hide{display:none!important}.iew-show-block,.iew-show{display:block!important}.iew-show-inline-block{display:inline-block!important}
@media (max-width:600px){.iew-modal-content{margin:0 10px;width:auto!important}.iew-modal{padding-top:30px}}
@media (max-width:768px){.iew-modal-content{width:500px}.iew-modal{padding-top:50px}}
@media (min-width:993px){.iew-modal-content{width:900px}}
@media screen and (max-width:600px){.iew-topnav a{display:block}.iew-navbar li:not(.iew-opennav){float:none;width:100%!important}.iew-navbar li.iew-right{float:none!important}}	
@media screen and (max-width:600px){.iew-topnav .iew-dropdown-hover .iew-dropdown-content,.iew-navbar .iew-dropdown-click .iew-dropdown-content,.iew-navbar .iew-dropdown-hover .iew-dropdown-content{position:relative}}	
@media screen and (max-width:600px){.iew-topnav,.iew-navbar{text-align:center}}
@media (max-width:600px){.iew-hide-small{display:none!important}}
@media (max-width:992px) and (min-width:601px){.iew-hide-medium{display:none!important}}
@media (min-width:993px){.iew-hide-large{display:none!important}}
@media screen and (max-width:992px){.iew-sidenav.iew-collapse{display:none}.iew-main{margin-left:0!important;margin-right:0!important}}
@media screen and (min-width:993px){.iew-sidenav.iew-collapse{display:block!important}}
.iew-top,.iew-bottom{position:fixed;width:100%;z-index:1}.iew-top{top:0}.iew-bottom{bottom:0}
.iew-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.iew-left{float:left!important}.iew-right{float:right!important}
.iew-tiny{font-size:10px!important}.iew-small{font-size:12px!important}
.iew-medium{font-size:15px!important}.iew-large{font-size:18px!important}
.iew-xlarge{font-size:24px!important}.iew-xxlarge{font-size:36px!important}
.iew-xxxlarge{font-size:48px!important}.iew-jumbo{font-size:64px!important}
.iew-vertical{word-break:break-all;line-height:1;text-align:center;width:0.6em}
.iew-left-align{text-align:left!important}.iew-right-align{text-align:right!important}
.iew-justify{text-align:justify!important}.iew-center{text-align:center!important}
.iew-display-topleft{position:absolute;left:0;top:0}.iew-display-topright{position:absolute;right:0;top:0}
.iew-display-bottomleft{position:absolute;left:0;bottom:0}.iew-display-bottomright{position:absolute;right:0;bottom:0}
.iew-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.iew-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.iew-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.iew-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.iew-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.iew-circle{border-radius:50%!important}
.iew-round-small{border-radius:2px!important}.iew-round,.iew-round-medium{border-radius:4px!important}
.iew-round-large{border-radius:8px!important}.iew-round-xlarge{border-radius:16px!important}
.iew-round-xxlarge{border-radius:32px!important}.iew-round-jumbo{border-radius:64px!important}
.iew-border-0{border:0!important}.iew-border{border:1px solid #ccc!important}
.iew-border-top{border-top:1px solid #ccc!important}.iew-border-bottom{border-bottom:1px solid #ccc!important}
.iew-border-left{border-left:1px solid #ccc!important}.iew-border-right{border-right:1px solid #ccc!important}
.iew-margin{margin:16px!important}.iew-margin-0{margin:0!important}
.iew-margin-top{margin-top:16px!important}.iew-margin-bottom{margin-bottom:16px!important}
.iew-margin-left{margin-left:16px!important}.iew-margin-right{margin-right:16px!important}
.iew-section{margin-top:16px!important;margin-bottom:16px!important}
.iew-padding-tiny{padding:2px 4px!important}.iew-padding-small{padding:4px 8px!important}
.iew-padding-medium,.iew-padding,.iew-form{padding:8px 16px!important}
.iew-padding-large{padding:12px 24px!important}.iew-padding-xlarge{padding:16px 32px!important}
.iew-padding-xxlarge{padding:24px 48px!important}.iew-padding-jumbo{padding:32px 64px!important}
.iew-padding-4{padding-top:4px!important;padding-bottom:4px!important}
.iew-padding-8{padding-top:8px!important;padding-bottom:8px!important}
.iew-padding-12{padding-top:12px!important;padding-bottom:12px!important}
.iew-padding-16{padding-top:16px!important;padding-bottom:16px!important}
.iew-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.iew-padding-32{padding-top:32px!important;padding-bottom:32px!important}
.iew-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.iew-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.iew-padding-128{padding-top:128px!important;padding-bottom:128px!important}
.iew-padding-0{padding:0!important}
.iew-padding-top{padding-top:8px!important}.iew-padding-bottom{padding-bottom:8px!important}
.iew-padding-left{padding-left:16px!important}.iew-padding-right{padding-right:16px!important}
.iew-topbar{border-top:6px solid #ccc!important}.iew-bottombar{border-bottom:6px solid #ccc!important}
.iew-leftbar{border-left:6px solid #ccc!important}.iew-rightbar{border-right:6px solid #ccc!important}
.iew-row-padding,.iew-row-padding>.iew-half,.iew-row-padding>.iew-third,.iew-row-padding>.iew-twothird,.iew-row-padding>.iew-threequarter,.iew-row-padding>.iew-quarter,.iew-row-padding>.iew-col{padding:0 8px}
.iew-spin{animation:iew-spin 2s infinite linear;-webkit-animation:iew-spin 2s infinite linear}
@-webkit-keyframes iew-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
@keyframes iew-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
.iew-container{padding:0.01em 16px}
.iew-panel{padding:0.01em 16px;margin-top:16px!important;margin-bottom:16px!important}
.iew-example{background-color:#f1f1f1;padding:0.01em 16px}
.iew-code,.iew-codespan{font-family:Consolas,"courier new";font-size:16px}
.iew-code{line-height:1.4;width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.iew-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.iew-example,.iew-code{margin:20px 0}.iew-card{border:1px solid #ccc}
.iew-card-2,.iew-example{box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important}
.iew-card-4,.iew-hover-shadow:hover{box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important}
.iew-card-8{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important}
.iew-card-12{box-shadow:0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)!important}
.iew-card-16{box-shadow:0 16px 24px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21)!important}
.iew-card-24{box-shadow:0 24px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22)!important}
.iew-animate-fading{-webkit-animation:fading 10s infinite;animation:fading 10s infinite}
@-webkit-keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.iew-animate-opacity{-webkit-animation:opac 0.8s;animation:opac 0.8s}
@-webkit-keyframes opac{from{opacity:0} to{opacity:1}}
@keyframes opac{from{opacity:0} to{opacity:1}}
.iew-animate-top{position:relative;-webkit-animation:animatetop 0.4s;animation:animatetop 0.4s}
@-webkit-keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.iew-animate-left{position:relative;-webkit-animation:animateleft 0.4s;animation:animateleft 0.4s}
@-webkit-keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.iew-animate-right{position:relative;-webkit-animation:animateright 0.4s;animation:animateright 0.4s}
@-webkit-keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.iew-animate-bottom{position:relative;-webkit-animation:animatebottom 0.4s;animation:animatebottom 0.4s}
@-webkit-keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0px;opacity:1}}
@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.iew-animate-zoom {-webkit-animation:animatezoom 0.6s;animation:animatezoom 0.6s}
@-webkit-keyframes animatezoom{from{-webkit-transform:scale(0)} to{-webkit-transform:scale(1)}}
@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.iew-animate-input{-webkit-transition:width 0.4s ease-in-out;transition:width 0.4s ease-in-out}.iew-animate-input:focus{width:100%!important}
.iew-opacity,.iew-hover-opacity:hover{opacity:0.60;filter:alpha(opacity=60);-webkit-backface-visibility:hidden}
.iew-opacity-off,.iew-hover-opacity-off:hover{opacity:1;filter:alpha(opacity=100);-webkit-backface-visibility:hidden}
.iew-opacity-max{opacity:0.25;filter:alpha(opacity=25);-webkit-backface-visibility:hidden}
.iew-opacity-min{opacity:0.75;filter:alpha(opacity=75);-webkit-backface-visibility:hidden}
.iew-greyscale-max,.iew-grayscale-max,.iew-hover-greyscale:hover,.iew-hover-grayscale:hover{-webkit-filter:grayscale(100%);filter:grayscale(100%)}
.iew-greyscale,.iew-grayscale{-webkit-filter:grayscale(75%);filter:grayscale(75%)}
.iew-greyscale-min,.iew-grayscale-min{-webkit-filter:grayscale(50%);filter:grayscale(50%)}
.iew-sepia{-webkit-filter:sepia(75%);filter:sepia(75%)}
.iew-sepia-max,.iew-hover-sepia:hover{-webkit-filter:sepia(100%);filter:sepia(100%)}
.iew-sepia-min{-webkit-filter:sepia(50%);filter:sepia(50%)}
.iew-text-shadow{text-shadow:1px 1px 0 #444}.iew-text-shadow-white{text-shadow:1px 1px 0 #ddd}
.iew-transparent{background-color:transparent!important}
.iew-hover-none:hover{box-shadow:none!important;background-color:transparent!important}
.iew-amber,.iew-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.iew-aqua,.iew-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.iew-blue,.iew-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.iew-light-blue,.iew-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.iew-brown,.iew-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.iew-cyan,.iew-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.iew-blue-grey,.iew-hover-blue-grey:hover,.iew-blue-gray,.iew-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.iew-green,.iew-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.iew-light-green,.iew-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.iew-indigo,.iew-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.iew-khaki,.iew-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.iew-lime,.iew-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.iew-orange,.iew-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.iew-deep-orange,.iew-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.iew-pink,.iew-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.iew-purple,.iew-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.iew-deep-purple,.iew-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.iew-red,.iew-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.iew-sand,.iew-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.iew-teal,.iew-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.iew-yellow,.iew-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.iew-white,.iew-hover-white:hover{color:#000!important;background-color:#fff!important}
.iew-black,.iew-hover-black:hover{color:#fff!important;background-color:#000!important}
.iew-grey,.iew-hover-grey:hover,.iew-gray,.iew-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.iew-light-grey,.iew-hover-light-grey:hover,.iew-light-gray,.iew-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.iew-dark-grey,.iew-hover-dark-grey:hover,.iew-dark-gray,.iew-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.iew-pale-red,.iew-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.iew-pale-green,.iew-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.iew-pale-yellow,.iew-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.iew-pale-blue,.iew-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.iew-text-amber,.iew-hover-text-amber:hover{color:#ffc107!important}
.iew-text-aqua,.iew-hover-text-aqua:hover{color:#00ffff!important}
.iew-text-blue,.iew-hover-text-blue:hover{color:#2196F3!important}
.iew-text-light-blue,.iew-hover-text-light-blue:hover{color:#87CEEB!important}
.iew-text-brown,.iew-hover-text-brown:hover{color:#795548!important}
.iew-text-cyan,.iew-hover-text-cyan:hover{color:#00bcd4!important}
.iew-text-blue-grey,.iew-hover-text-blue-grey:hover,.iew-text-blue-gray,.iew-hover-text-blue-gray:hover{color:#607d8b!important}
.iew-text-green,.iew-hover-text-green:hover{color:#4CAF50!important}
.iew-text-light-green,.iew-hover-text-light-green:hover{color:#8bc34a!important}
.iew-text-indigo,.iew-hover-text-indigo:hover{color:#3f51b5!important}
.iew-text-khaki,.iew-hover-text-khaki:hover{color:#b4aa50!important}
.iew-text-lime,.iew-hover-text-lime:hover{color:#cddc39!important}
.iew-text-orange,.iew-hover-text-orange:hover{color:#ff9800!important}
.iew-text-deep-orange,.iew-hover-text-deep-orange:hover{color:#ff5722!important}
.iew-text-pink,.iew-hover-text-pink:hover{color:#e91e63!important}
.iew-text-purple,.iew-hover-text-purple:hover{color:#9c27b0!important}
.iew-text-deep-purple,.iew-hover-text-deep-purple:hover{color:#673ab7!important}
.iew-text-red,.iew-hover-text-red:hover{color:#f44336!important}
.iew-text-sand,.iew-hover-text-sand:hover{color:#fdf5e6!important}
.iew-text-teal,.iew-hover-text-teal:hover{color:#009688!important}
.iew-text-yellow,.iew-hover-text-yellow:hover{color:#d2be0e!important}
.iew-text-white,.iew-hover-text-white:hover{color:#fff!important}
.iew-text-black,.iew-hover-text-black:hover{color:#000!important}
.iew-text-grey,.iew-hover-text-grey:hover,.iew-text-gray,.iew-hover-text-gray:hover{color:#757575!important}
.iew-text-light-grey,.iew-hover-text-light-grey:hover,.iew-text-light-gray,.iew-hover-text-light-gray:hover{color:#f1f1f1!important}
.iew-text-dark-grey,.iew-hover-text-dark-grey:hover,.iew-text-dark-gray,.iew-hover-text-dark-gray:hover{color:#3a3a3a!important}
.iew-border-amber,.iew-hover-border-amber:hover{border-color:#ffc107!important}
.iew-border-aqua,.iew-hover-border-aqua:hover{border-color:#00ffff!important}
.iew-border-blue,.iew-hover-border-blue:hover{border-color:#2196F3!important}
.iew-border-light-blue,.iew-hover-border-light-blue:hover{border-color:#87CEEB!important}
.iew-border-brown,.iew-hover-border-brown:hover{border-color:#795548!important}
.iew-border-cyan,.iew-hover-border-cyan:hover{border-color:#00bcd4!important}
.iew-border-blue-grey,.iew-hover-blue-grey:hover,.iew-border-blue-gray,.iew-hover-blue-gray:hover{border-color:#607d8b!important}
.iew-border-green,.iew-hover-border-green:hover{border-color:#4CAF50!important}
.iew-border-light-green,.iew-hover-border-light-green:hover{border-color:#8bc34a!important}
.iew-border-indigo,.iew-hover-border-indigo:hover{border-color:#3f51b5!important}
.iew-border-khaki,.iew-hover-border-khaki:hover{border-color:#f0e68c!important}
.iew-border-lime,.iew-hover-border-lime:hover{border-color:#cddc39!important}
.iew-border-orange,.iew-hover-border-orange:hover{border-color:#ff9800!important}
.iew-border-deep-orange,.iew-hover-border-deep-orange:hover{border-color:#ff5722!important}
.iew-border-pink,.iew-hover-border-pink:hover{border-color:#e91e63!important}
.iew-border-purple,.iew-hover-border-purple:hover{border-color:#9c27b0!important}
.iew-border-deep-purple,.iew-hover-border-deep-purple:hover{border-color:#673ab7!important}
.iew-border-red,.iew-hover-border-red:hover{border-color:#f44336!important}
.iew-border-sand,.iew-hover-border-sand:hover{border-color:#fdf5e6!important}
.iew-border-teal,.iew-hover-border-teal:hover{border-color:#009688!important}
.iew-border-yellow,.iew-hover-border-yellow:hover{border-color:#ffeb3b!important}
.iew-border-white,.iew-hover-border-white:hover{border-color:#fff!important}
.iew-border-black,.iew-hover-border-black:hover{border-color:#000!important}
.iew-border-grey,.iew-hover-border-grey:hover,.iew-border-gray,.iew-hover-border-gray:hover{border-color:#9e9e9e!important}
.iew-border-light-grey,.iew-hover-border-light-grey:hover,.iew-border-light-gray,.iew-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.iew-border-dark-grey,.iew-hover-border-dark-grey:hover,.iew-border-dark-gray,.iew-hover-border-dark-gray:hover{border-color:#616161!important}
.iew-border-pale-red,.iew-hover-border-pale-red:hover{border-color:#ffe7e7!important}.iew-border-pale-green,.iew-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.iew-border-pale-yellow,.iew-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.iew-border-pale-blue,.iew-hover-border-pale-blue:hover{border-color:#e7ffff!important}